/* Base style */

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.button {
    color: #ffffff;
    background-color: #ee3643;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-radius: 4px;

    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;

    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    width: 100%;

    margin: 0 auto;
}

body {
    padding: 0;
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

/* Header */


/* Top panel*/

.header-top-panel {
    width: 100%;
    min-height: 42px;

    background-color: #293449;

    font-size: 17px;
    line-height: 18px;
}

.header-top-container {
    max-width: 960px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding: 0 10px;
    margin: 0 auto;
}

.top-panel-menu {
    display: flex;
}

.header-top-panel .top-panel-logo {
    height: 100%;

    padding: 13px 55px;
    padding-bottom: 7px;

    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;

    font-size: 24px;
    line-height: 21px;
}

.top-panel-search {
    width: 100%;

    padding-left: 49px;
    padding-right: 20px;
}

.menu-item-search {
    width: 270px;
}

.top-panel-bookmarks {
    padding-left: 44px;
    padding-right: 30px;
}

.top-panel-basket {
    padding-left: 44px;
    padding-right: 30px;
}

.top-panel-checkout {
    padding: 0 20px;

    background-color: #63a63e;
}

.top-panel-link {
    padding-top: 13px;
    padding-bottom: 13px;
}

/* Middle panel */

.header-middle-panel {
    width: 100%;

    background-color: #f3f7f8;
    color: #32425c;

    padding-bottom: 65px;
}

.middle-panel-container {
    max-width: 960px;
    width: 100%;

    padding: 45px 10px 40px 10px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.middle-info-container {
    max-width: 300px;
    width: 100%;

    padding: 0 50px 0 51px;
}

.middle-panel-info {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;

    margin: 0;
}

.middle-panel-contacts {
    max-width: 300px;
    width: 100%;

    padding-right: 30px;
}

.panel-contacts-phone {
    max-width: 270px;
    width: 100%;

    display: block;

    border: 3px solid #ffffff;
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;

    padding: 7px 49px 7px 71px;
}

.panel-contacts-location {
    display: block;

    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    font-weight: 400;
    text-align: center;

    margin: 0;
    margin-top: 5px;
}

.middle-panel-login {
    max-width: 300px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding-left: 18px;
}

.panel-login-btn {
    max-height: 45px;
    height: 100%;

    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    background-color: #ffffff;

    padding-top: 12px;
    padding-bottom: 14px;
}

.panel-login-in {
    max-width: 120px;
    width: 100%;

    padding-left: 31px;
}

.panel-login-reg {
    max-width: 150px;
    width: 100%;
}

/* Middle-panel-navigation */

.middle-panel-navigation {
    max-width: 960px;
    width: 100%;

    padding: 0 10px;
    margin: 0 auto;

    color: #ffffff;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
}

.main-nav-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item-link {
    padding: 20px 30px;
}

/* Main */

.content {
    padding-top: 60px;
    padding-bottom: 85px;

    background-color: #ffffff;
}

.main-content {
    max-width: 960px;
    width: 100%;

    padding: 0 10px;
    margin: 0 auto;
}

/* Features */

.features-container {
    margin-bottom: 53px;
}

.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.features-item {
    max-width: 300px;
    width: 100%;

    padding: 19px 24px;
    margin-bottom: 20px;
}

.features-item-slider {
    max-width: 620px;
    width: 100%;
    height: 266px;

    padding: 22px 24px;
    margin-bottom: 20px;

    background-color: black;
}

.features-item-container {
    max-width: 300px;
    width: 100%;
}

.features-fon-1 {
    background-color: #ffbf47;
}

.features-fon-2 {
    background-color: #3bbce3;
}

.features-fon-3 {
    background-color: #dc91d8;
}

.features-fon-4 {
    background-color: #8ed78f;
}

.features-fon-5 {
    background-color: #ffc047;
}

.features-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;

    color: #ffffff;

    margin-bottom: 17px;
}

.features-button {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;

    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    padding: 10px 24px;
}

/* Popular products */

.popular-products {
    display: flex;
    justify-content: space-between;

    padding: 26px 30px;
    margin-bottom: 20px;

    background-color: #f9f5f0;
}

.popular-products-title {
    align-self: center;

    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.popular-products-btn {
    max-width: 253px;
    width: 100%;
}















