/* Base style */

*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

.content-box-component {
    box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body .display-on {
    display: block;
}

body .display-off {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.button {
    color: #ffffff;
    background-color: #ee3643;

    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    border-radius: 4px;
    border: none;

    padding-top: 10px;
    padding-bottom: 10px;

    cursor: pointer;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
li {
    list-style: none;

    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
}

.visibly {
    opacity: 1;

    z-index: 10;
}

.not-visibly {
    opacity: 0;
}

.new-item-ico {
    position: absolute;
    width: 60px;
    height: 59px;

    right: 0;
    top: 0;

    background: url(../img/new-icon.png) no-repeat;
}

body {
    padding: 0;
    margin: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

/* Header */


/* Top panel*/

.header-top-panel {
    width: 100%;
    min-height: 42px;

    background-color: #293449;

    font-size: 17px;
    line-height: 18px;
}

.header-top-container {
    max-width: 960px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding: 0 10px;
    margin: 0 auto;
}

.top-panel-menu {
    display: flex;
}

.header-top-panel .top-panel-logo {
    height: 100%;

    padding: 13px 55px;
    padding-bottom: 7px;

    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;

    font-size: 24px;
    line-height: 21px;
}

.top-panel-search {
    width: 100%;

    padding-left: 49px;
    padding-right: 20px;

    font: inherit;
    color: #ffffff;
    background-color: #293449;
    background-image: url(../svg/icon-search-opacity.svg);
    background-repeat: no-repeat;
    background-position: 17px 13px;
    border: none;
    outline: none;
}

.menu-item-search {
    width: 270px;
}

.top-panel-bookmarks {
    padding-left: 44px;
    padding-right: 30px;
}

.top-panel-basket {
    padding-left: 44px;
    padding-right: 30px;
}

.top-panel-checkout {
    padding: 0 20px;

    background-color: #63a63e;
}

.top-panel-link {
    padding-top: 13px;
    padding-bottom: 13px;
}

.header-btn-ico {
    position: relative;
}

.header-btn-ico::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;

    top: 50%;
    left: 16px;

    transform: translateY(-50%);

    opacity: 0.5;

    background-repeat: no-repeat;
    background-position: center center;
}

.top-panel-bookmarks::before {
    background-image: url(../svg/icon-bookmark.svg);
    background-position: left center;
}

.top-panel-basket::before {
    background-image: url(../svg/icon-cart.svg);
    background-position: left center;
}

.header-btn-ico:hover {
    background-color: #212a3a;
}

.top-panel-logo:hover,
.top-panel-logo:focus {
    background-color: #ca2c37;
}

.top-panel-checkout:hover,
.top-panel-checkout:focus {
    background-color: #5fbb2d;
}

.header-btn-ico:hover::before,
.header-btn-ico:focus::before {
    opacity: 1;
}

.top-panel-bookmarks:active {
    background-color: #161d29;
    color: rgba(255,255,255,0.5);
}

.top-panel-basket:active {
    background-color: #161d29;
    color: rgba(255,255,255,0.5);
}

.top-panel-logo:active {
    background-color: #ba2732;
}

.top-panel-checkout:active {
    background-color: #518534;
    color: rgba(255,255,255,0.5);
}

.header-btn-ico:active::before {
    opacity: 0.5;
}

.top-panel-search:hover {
    background-color: #212a3a;
    background-image: url(../svg/icon-search.svg);
}

.top-panel-search:focus {
    background-color: #ffffff;
    color: #000000;
    background-image: url(../svg/icon-search-red.svg);
}

/* Middle panel */

.header-middle-panel {
    width: 100%;

    background-color: #f3f7f8;
    color: #32425c;

    padding-bottom: 65px;
}

.middle-panel-container {
    max-width: 960px;
    width: 100%;

    padding: 43px 10px 40px 10px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.middle-info-container {
    max-width: 300px;
    width: 100%;

    padding: 0 50px 0 51px;
}

.middle-panel-info {
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;

    margin: 0;
}

.middle-panel-contacts {
    max-width: 300px;
    width: 100%;

    padding-right: 23px;
}

.panel-contacts-phone {
    position: relative;

    width: 100%;

    display: block;

    border: 3px solid #ffffff;
    color: #ee3643;
    font-size: 21px;
    line-height: 21px;
    font-weight: 400;

    padding: 7px 49px 7px 71px;
}

.panel-contacts-phone::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 19px;

    top: 50%;
    left: 13px;

    transform: translateY(-50%);

    opacity: 0.5;

    background: url(../svg/icon-phone.svg) no-repeat center center;
}

.panel-contacts-location {
    display: block;

    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    font-weight: 400;
    text-align: center;

    margin: 0;
    margin-top: 5px;
}

.middle-panel-login-container {
    max-width: 300px;
    width: 100%;

    padding-left: 11px;
}

.middle-panel-login {
    padding-bottom: 30px;
    padding-left: 10px;
}

.panel-login-btn {
    max-height: 45px;
    height: 100%;

    font-size: 21px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #000000;
    background-color: #ffffff;

    padding-top: 12px;
    padding-bottom: 14px;
}

.panel-login-in {
    position: relative;

    max-width: 120px;
    width: 100%;

    padding-left: 31px;
    margin-right: 3px;
}

.panel-login-in::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 17px;

    top: 13px;
    left: 14px;

    opacity: 0.5;

    background: url(../svg/icon-login.svg) no-repeat center center;
}

.panel-login-reg {
    max-width: 150px;
    width: 100%;
}

.panel-login-btn:hover {
    color: #ee3643;
}

.panel-login-in:hover::before {
    background: url(../svg/icon-login-blue.svg) no-repeat center center;

    opacity: 1;
}

.panel-login-btn:active {
    color: rgba(0,0,0,0.5);
}

.panel-login-in:active::before {
    background: url(../svg/icon-login.svg) no-repeat center center;

    opacity: 0.5;
}

.user-page {
    display: flex;

    position: relative;

    padding: 12px 47px;

    font-size: 21px;
    line-height: 21px;

    color: #000;
    background-color: #fff;
}

.user-ico {
    position: absolute;

    width: 20px;
    height: 18px;

    left: 13px;
    top: 13px;

    background: url('../svg/icon-user.svg') no-repeat center center;

    cursor: pointer;
}

.user-exit {
    position: absolute;

    width: 21px;
    height: 17px;

    right: 10px;
    top: 14px;

    background: url('../svg/icon-logout.svg') no-repeat center center;

    cursor: pointer;
}

.user-exit:hover {
    background: url(../svg/icon-logout-blue.svg) no-repeat center center;
}

.user-ico:hover {
    background: url(../svg/icon-user-blue.svg) no-repeat center center;
}

.user-exit:active {
    background: url(../svg/icon-logout.svg) no-repeat center center;

    opacity: 0.5;
}

.user-ico:active {
    background: url(../svg/icon-user.svg) no-repeat center center;

    opacity: 0.5;
}

.user-page-info {
    margin-left: 18px;
}

.user-page-info a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #32425c;

    border-bottom: 1px solid #32425c;
}

.user-page-info a:hover {
    color: #ee3643;

    border-bottom: 1px solid #ee3643;
}

.user-page-info a:active {
    color: rgba(0,0,0,0.3);

    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.my-orders {
    position: relative;

    margin-right: 33px;
}

.my-orders::after {
    content: "";

    position: absolute;

    width: 5px;
    height: 5px;

    right: -23px;
    top: 50%;

    transform: translateY(-50%);

    border-radius: 50%;

    background-color: #32425c;
}

/* Middle-panel-navigation */

.middle-panel-navigation {
    max-width: 960px;
    width: 100%;

    padding: 0 10px;
    margin: 0 auto;

    color: #ffffff;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
}

.main-nav-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item-link {
    padding: 20px 30px;
}

.nav-item-link:hover {
    background-color: #293449;
}

.nav-item-link:active {
    background-color: #1d2739;

    color: rgba(255,255,255,0.5);
}

/* Main */

.content {
    padding-top: 60px;
    padding-bottom: 85px;

    background-color: #ffffff;
}

.main-content {
    max-width: 960px;
    width: 100%;

    padding: 0 10px;
    margin: 0 auto;
}

/* Features */

.features-container {
    margin-bottom: 53px;
}

.features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.features-item {
    position: relative;

    max-width: 300px;
    width: 100%;

    padding: 19px 24px;
    margin-bottom: 20px;
}

.features-item-slider {
    position: relative;

    max-width: 620px;
    width: 100%;
    height: 266px;

    margin-bottom: 20px;

    background-color: black;
}

.features-slider-btn {
    position: absolute;
    width: 23px;
    height: 40px;

    top: 50%;

    transform: translateY(-50%);

    background-repeat: no-repeat;
    background-position: center center;

    border: none;
    background-color: transparent;

    cursor: pointer;

    padding: 0;

    outline: none;
}

.slider-btn-left {
    left: 25px;

    background-image: url(../svg/icon-left.svg);
}

.slider-btn-right {
    right: 25px;

    background-image: url(../svg/icon-right.svg);
}

.slider-paginator-container {
    position: absolute;

    width: 30px;
    height: 10px;

    left: 49%;
    bottom: 38px;
}

.slider-paginator-container-flex {
    display: flex;
    justify-content: space-between;
}

.slider-paginator {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: #ffffff;

    cursor: pointer;
}

.slider-red-dot {
    width: 6px;
    height: 6px;

    border-radius: 50%;
    background-color: #ee3643;
}

.features-slider-container {
    height: 100%;
}

.features-slider-1 {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 24px 24px;

    background: url('../img/features-slider-img-1.jpg') no-repeat center center;
}

.features-slider-2 {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    padding: 24px 24px;

    background: url('../img/features-slider-img-2.jpg') no-repeat center center;
}

.features-slider-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.features-slider-info {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
}

.features-slider-button {
    width: 195px;

    margin-top: auto;
}

.features-item-container {
    max-width: 300px;
    width: 100%;
}

.features-fon-1 {
    background-color: #ffbf47;

    background-image: url(../svg/icon-1.svg);
    background-repeat: no-repeat;
    background-position: 213px center;

}

.features-fon-2 {
    background-color: #3bbce3;

    background-image: url(../svg/icon-2.svg);
    background-repeat: no-repeat;
    background-position: 197px center;
}

.features-fon-3 {
    background-color: #dc91d8;

    background-image: url(../svg/icon-3.svg);
    background-repeat: no-repeat;
    background-position: 191px center;
}

.features-fon-4 {
    background-color: #8ed78f;

    background-image: url(../svg/icon-4.svg);
    background-repeat: no-repeat;
    background-position: 196px center;
}

.features-fon-5 {
    background-color: #ffc047;

    background-image: url(../svg/icon-5.svg);
    background-repeat: no-repeat;
    background-position: 191px center;
}

.features-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;

    color: #ffffff;

    margin-bottom: 17px;
}

.features-button {
    max-width: 135px;
    width: 100%;

    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;

    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    padding: 10px 0;
}

.features-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.features-button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Popular products */

.popular-products {
    display: flex;
    justify-content: space-between;

    padding: 26px 30px;
    margin-bottom: 20px;

    background-color: #f9f5f0;
}

.popular-products-container {
    margin-bottom: 20px;
}

.popular-products-title {
    align-self: center;

    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.popular-products-btn {
    max-width: 253px;
    width: 100%;
}

.popular-products-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: 700;
}

.popular-products-item {
    position: relative;

    max-width: 220px;
    width: 100%;

    border: 1px solid rgba(0,0,0,0.1);
}

.products-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-item-img-container {
    max-width: 190px;
    width: 100%;
    height: 170px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 8px;
}

.products-item-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #000000;

    margin: 0;
    margin-bottom: 12px;
}

.products-item-img {
    display: block;
}

.products-item-oldprice {
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration: line-through;
    color: #a9a9a9;

    min-height: 18px;

    margin-bottom: 10px;
}

.products-item-newprice {
    align-self: center;

    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    border-radius: 3px;
    background: url(../svg/red-button.svg) no-repeat;

    padding: 10px 38px;
    margin-bottom: 20px;
}

.hover-hidden-container {
    display: none;
}

.products-item-hover-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-hover-btn {
    display: block;

    border: none;
    border-radius: 4px;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;
}

.buy-btn {
    position: relative;

    min-width: 135px;
    width: 100%;

    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 7px;

    background-color: #63a63e;
    box-shadow: 0 3px 0 0 #367315;
}

.bookmark-btn {
    min-width: 135px;
    width: 100%;

    padding-top: 8px;
    padding-bottom: 6px;

    color: #32425c;
    background-color: #ffffff;
    border: 3px solid #63a63e;
}

.buy-btn::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 19px;

    top: 50%;
    left: 16px;

    transform: translateY(-50%);

    opacity: 0.5;

    background-repeat: no-repeat;
    background-position: center center;
}

.buy-btn::before {
    background-image: url(../svg/icon-cart.svg);
    background-position: left center;
}

.buy-btn:hover,
.buy-btn:focus {
    background-color: #5fbb2d;
}

.buy-btn:hover::before,
.buy-btn:focus::before {
    opacity: 1;
}

.buy-btn:active {
    background-color: #518534;
}

.buy-btn:active::before {
    opacity: 1;
}

.bookmark-btn:hover,
.bookmark-btn:focus {
    border-color: #32425c;
}

.bookmark-btn:active {
    border-color: rgba(50, 66, 92, 0.5);
    color: rgba(50, 66, 92, 0.5);
}

.popular-products-item:hover .products-item-img {
    display: none;
}

.popular-products-item:hover .hover-hidden-container {
    display: block;
}

.popular-products-item:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}

/* Popular-producers */

.popular-producers {
    display: flex;
    justify-content: space-between;

    padding: 26px 30px;
    margin-bottom: 20px;

    background-color: #f9f5f0;
}

.popular-producers-title {
    align-self: center;

    color: #32425c;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.popular-producers-btn {
    max-width: 253px;
    width: 100%;
}

.popular-producers-container {
    margin-bottom: 65px;
}

.popular-producers-menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.popular-producers-item {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 220px;
    width: 100%;
    height: 145px;

    border: 1px solid rgba(0,0,0,0.1);

    margin-bottom: 20px;
}

.popular-producers-item:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
}

.producers-item-link:active {
    opacity: 0.4;
}

.producers-item-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: #ffffff;
}

.interskol-img {
    margin-top: -10px;
}

/* Services */

.services-container {
    width: 100%;

    background-color: #f4f8fa;
    color: #000000;
}

.services {
    max-width: 960px;
    width: 100%;

    padding: 65px 10px 0 10px;
    margin: 0 auto;
}

.services-info {
    margin-bottom: 60px;
}

.services-title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
    color: #000000;

    margin-bottom: 25px;
}

.services-description {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;

    margin: 0;
}

.services-content {
    position: relative;
    margin-bottom: 54px;
    padding-bottom: 102px;
}

.services-slider-menu {
    max-width: 240px;
    width: 100%;
}

.services-content::after {
    content: "";

    position: absolute;

    height: 270px;
    width: 20px;

    left: 230px;
    top: -45px;

    background: url('../img/shadow-line.png') no-repeat;
}

.services-slider-menu label {
    display: block;

    width: 100%;

    padding: 15px 22px;

    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
    background-color: #32425c;

    border-bottom: 1px solid #293449;
    border-top: 1px solid #405069;

    cursor: pointer;
}

.services-slider-menu input[type="radio"] {
    display: none;

    position: absolute;

    opacity: 0;
}

.services-slider-item:hover {
    background-color: #293449;
    color: #ffffff;
}

#button-1:checked ~ label[for="button-1"],
#button-2:checked ~ label[for="button-2"],
#button-3:checked ~ label[for="button-3"] {
    background-color: #ffffff;
    color: #293449;

    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}

#button-1:checked ~ .services-slider-content-container .services-slider-delivery,
#button-2:checked ~ .services-slider-content-container .services-slider-guarantee,
#button-3:checked ~ .services-slider-content-container .services-slider-credit {
    display: block;
}

.services-slider-menu label:hover {
    background-color: #293449;
}

.services-slider-content {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 620px;
    padding-bottom: 139px;
}

.services-slider-delivery {
    background: url('../img/services-delivery.png') no-repeat 100% 21px;
}

.services-slider-guarantee {
    background: url('../img/services-guarantee.png') no-repeat 100% 0%;
}

.services-slider-credit {
    background: url('../img/services-credit.png') no-repeat 100% 0%;
}

.services-slider-title {
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;

    margin-bottom: 24px;
}

.services-slider-description {
    max-width: 280px;
    width: 100%;

    margin: 0;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.services-slider-description-guarantee {
    max-width: 380px;
    width: 100%;
}

.services-slider-credit-btn {
    max-width: 195px;
    width: 100%;

    background-color: #ff5357;

    margin-top: 28px;
}

/* About-US */

.about-us-container {
    width: 100%;

    color: #000000;
    background-color: #ffffff;
}

.about-us {
    max-width: 960px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    padding: 25px 10px 85px 10px;
}

.about-us-info {
    max-width: 520px;
    width: 100%;
}

.about-us-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;

    margin-bottom: 30px;
}

.about-us-desc {
    margin: 0;
    margin-bottom: 25px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}

.about-us-info-menu {
    margin-bottom: 35px;
}

.about-us-info-item {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;

    padding-left: 35px;
    margin-bottom: 20px;
}

.about-us-info-button {
    max-width: 220px;
    width: 100%;
}

.about-us-contacts {
    max-width: 300px;
    width: 100%;
}

.about-us-map {
    margin-top: 32px;
    margin-bottom: 35px;

    cursor: pointer;
}

.about-us-contacts-button {
    max-width: 300px;
    width: 100%;
}

/* Footer */

.footer-top-panel-container {
    background-color: #32425c;
    color: #ffffff;
}

.footer-bottom-panel-container {
    background-color: #293449;
    color: #ffffff;
}

.footer-top-panel {
    max-width: 960px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    padding: 0 10px;
    padding-bottom: 50px;
}

.footer-bottom-panel {
    max-width: 960px;
    width: 100%;

    margin: 0 auto;
    padding: 0 10px;
}

.footer-logo-container {
    max-width: 325px;
    width: 100%;
}

.footer-logo {
    max-width: 220px;
    width: 100%;

    padding: 18px 40px;
    padding-bottom: 15px;
    margin-bottom: 34px;

    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
}

.footer-logo:hover,
.footer-logo:focus {
    background-color: #ca2c37;
}

.footer-logo:active {
    background-color: #ba2732;
}

.technomart-address {
    margin: 0;

    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
}

.footer-navigation-container {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

    margin-top: 39px;
}

.footer-top-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 550px;

    margin-bottom: 33px;
}

.footer-bottom-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 525px;

    margin-left: 26px;
}

.footer-top-navigation-link {
    color: #ffffff;
}

.footer-bottom-navigation-link {
    color: #f5ca7e;
}

.footer-top-navigation-link:hover,
.footer-bottom-navigation-link:hover {
    text-decoration: underline;
}

.footer-top-navigation-link:active {
    color: rgba(255,255,255,0.5);
}


.footer-bottom-navigation-link:active {
    color: rgba(255,209,128,0.5);
}

.footer-bottom-panel {
    max-width: 960px;
    width: 100%;

    display: flex;
    align-items: center;

    font-size: 16px;
    line-height: 18px;

    margin: 0 auto;
    padding: 35px 10px 30px 10px;
}

.footer-copyright {
    max-width: 230px;
    width: 100%;

    margin: 0;
    margin-right: 160px;
}

.footer-social-container {
    max-width: 133px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    margin-right: 119px;
}

.footer-social {
    width: 41px;
    height: 41px;

    border-radius: 50%;

    background-color: #212a3a;
    background-repeat: no-repeat;
    background-position: center center;
}

.footer-social:hover {
    background-color: #ee3643;
}

.social-vk {
    background-image: url(../svg/icon-vk.svg);
}

.social-fb {
    background-image: url(../svg/icon-fb.svg);
}

.social-instagram {
    background-image: url(../svg/icon-insta.svg);
}

.footer-autors-container {
    margin: 0;
}

.footer-autors {
    max-width: 300px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding-right: 15px;
}

.footer-autors-info {
    display: block;

    color: #ffffff;
}

.footer-autors-link {
    display: block;

    color: #ffd180;
}

.footer-autors-link:hover {
    text-decoration: underline;
}

.footer-autors-link:active {
    color: #ee3643;
    text-decoration: none;
}

/* Popup */

.modal {
    position: fixed;

    left: 50%;
    top: 50%;

    transform: translateX(-50%) translateY(-50%);

    z-index: 1000;
}

.modal-login {
    display: none;

    width: 620px;
    height: 430px;

    background-color: #ffffff;
    color: #000000;

    box-shadow: 0 13px 30px 0 rgba(0,0,0,0.7);

    padding-top: 45px;
}

.modal-login::before {
    content: "";
    position: absolute;

    width: 620px;
    height: 7px;

    left: 0;
    top: 0;

    background-color: #ff5257;
}

.modal-close-btn {
    position: absolute;

    width: 21px;
    height: 21px;

    right: 9px;
    top: 16px;

    background: url('../svg/form-2.svg') no-repeat center center;

    border: none;

    cursor: pointer;
}

.modal-form {
    width: 100%;
    height: 100%;
}

.modal-form-container {
    width: 460px;

    margin: 0 auto;
}

.user-info-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
}

.user-info {
    width: 220px;

    margin: 0;
}

.user-letter-container {
    margin: 0;
}

.form-label {
    display: block;

    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;

    margin-bottom: 10px;
}

.form-input {
    display: block;

    width: 100%;

    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;

    padding: 8px 14px;

    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 3px;
}

.user-letter {
    height: 114px;

    margin-bottom: 37px;
}

.submit-btn-container {
    background-color: #f4f4f4;

    padding: 41px 80px;
}

.submit-btn {
    width: 460px;

    margin: 0 auto;

    border: none;
}

.form-input:hover {
    border-color: rgba(0,0,0,0.3);
}

.form-input:focus {
    border-color: #ee3643;
    outline: none;
}

.modal-map {
    display: none;

    width: 940px;
    height: 446px;

    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);

    background: url('../img/modal-map.jpg') no-repeat center center;
}

.mobal-buy {
    display: none;

    width: 620px;
    height: 282px;

    background-color: #ffffff;

    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.6);
}

.mobal-buy::before {
    content: "";
    position: absolute;

    width: 620px;
    height: 7px;

    left: 0;
    top: 0;

    background-color: #ff5257;
}

.mobal-buy-title-container {
    width: 100%;

    padding-top: 72px;
    padding-bottom: 68px;

    background: url('../svg/form-1.svg') no-repeat 81px center;
}

.mobal-buy-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;

    vertical-align: middle;

    margin-left: 179px;
}

.mobal-buy-btn-container {
    display: flex;
    justify-content: space-between;

    padding: 37px 80px;

    background-color: #f1f1f1;
}

.checkout-btn {
    width: 220px;
}

.continue-btn {
    width: 220px;

    color: #000000;
    background-color: #ffffff;
}

.continue-btn:hover,
.continue-btn:focus {
    color: #ffffff;
    background-color: #5fbb2d;
}

.continue-btn:active {
    background-color: #518534;
}

/* JS-Style */

.modal-show {
    display: block;
}

.highlight {
    background-color: #ee3643;
}

/* Catalog-page */

.catalog-page .main-content {
    padding-top: 23px;
    padding-bottom: 60px;

    color: #000000;
}

.bread-crumbs {
    display: flex;

    margin-bottom: 24px;
}

.bread-crumbs-item {
    position: relative;

    line-height: 0;
}

.bread-crumbs-item + .bread-crumbs-item {
    margin-left: 40px;
}

.bread-crumbs-item:not(:last-child)::after {
    content: "";

    position: absolute;

    width: 22px;
    height: 40px;

    top: 47%;
    right: -32px;

    transform: translateY(-50%);

    background: url('../svg/icon-right-small.svg') no-repeat center center;
}

.crumbs-item-link {
    font-family: 'PT Sans', Arial, sans-serif;
    color: #000;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.catalog-title-container {
    padding: 30px 30px 30px 30px;
    margin-bottom: 20px;

    background-color: #f2f6f8;
}

.catalog-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;
}

.catalog-container {
    display: flex;
    justify-content: space-between;
}

.filter-fon {
    background-color: #f7f3ec;
    border-radius: 4px;
}

.catalog-filter-container {
    max-width: 220px;
    width: 100%;

    font-family: 'PTSans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.catalog-goods-container {
    max-width: 700px;
    width: 100%;
}

.catalog-filter {
    display: flex;
    flex-direction: column;
}

.form-filter-container {
    padding: 11px 19px 9px 19px;
    margin-bottom: 13px;
}

.form-filter {
    vertical-align: middle;
}

.catalog-filter fieldset {
    display: flex;
    flex-direction: column;

    border: none;
    padding: 0;
    margin: 0;
}

.catalog-filter fieldset:not(:last-of-type) {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.catalog-filter fieldset:last-of-type {
    margin-bottom: 60px;
}

.catalog-filter fieldset:not(:last-of-type) {
    margin-bottom: 13px;
}

.catalog-filter legend {
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;

    margin-bottom: 14px;
}

.price-range-container {
    padding: 30px 20px;

    margin-bottom: 9px;
}

.price-range-container input {
    width: 100%;

    vertical-align: middle;
}

.price-counter-container {
    position: relative;

    display: flex;
    justify-content: space-between;

    margin-bottom: 25px;
}

.price-counter-container::after {
    content: "";

    position: absolute;

    width: 9px;
    height: 1px;

    left: 50%;
    top: 50%;

    transform: translateX(-50%);

    background-color: #000;
}

.price-counter {
    width: 95px;

    padding: 10px 0 9px 0;

    text-align: center;
}

.price-counter span {
    font-size: 17px;
    line-height: 18px;
}

.filter-menu {
    display: flex;
    flex-direction: column;
}

.filter-item {
    margin-bottom: 20px;
}

.filter-menu input {
    display: none;
}

.filter-menu label {
    position: relative;

    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;

    padding-left: 35px;

    cursor: pointer;
}

.filter-menu label::before {
    content: "";

    position: absolute;

    width: 27px;
    height: 25px;

    left: 0;
    top: -4px;

    background-repeat: no-repeat;
    background-position: left center;

    opacity: 0.8;
}

.manufacturer-group label::before {
    background-image: url('../svg/checkbox-off.svg');
}

.manufacturer-group input:checked + label::before {
    background-image: url('../svg/checkbox-on.svg');
}

.typeofdrill-group label::before {
    background-image: url('../svg/radio-off.svg');
}

.typeofdrill-group input:checked + label::before {
    background-image: url('../svg/radio-on.svg');
}

.filter-menu input:hover + label::before {
    opacity: 1;
}

.filter-menu input:disabled + label::before {
    opacity: 0.4;
}

.filter-btn {
    width: 140px;

    font: inherit;

    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #000;

    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;

    background-color: #fff;

    padding: 9px 0;

    cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
    border: 1px solid rgba(0,0,0,0.2);
    outline: none;
}

.filter-btn:active {
    border-color: #ee3643;
}

.catalog-goods-container {
    font-family: 'PTSans', Arial, sans-serif;
    text-transform: uppercase;
}

.sorting-container {
    display: flex;

    padding: 11px 19px 8px 19px;
    margin-bottom: 20px;

    font-size: 13px;
    line-height: 18px;
}

.sorting-title {
    font-weight: 400;
    vertical-align: middle;

    padding-right: 138px;
}

.sorting-menu {
    display: flex;
}

.sorting-item + .sorting-item {
    margin-left: 65px;
}

.sorting-btn {
    color: rgba(0,0,0,0.3);

    border-bottom: 1px dashed #ee3643;
}

.sorting-up-down {
    display: flex;

    margin-left: auto;
}

.up-down-btn + .up-down-btn {
    margin-left: 18px;
}

.sorting-btn:hover {
    color: rgba(0,0,0,1);

    border-bottom: 1px solid #ee3643;
}

.up-down-btn:hover path {
    fill: rgba(0,0,0,1);
}

.catalog-goods-container .btn-active {
    color: #ee3643;

    border: none;
}

.catalog-goods-container .btn-active path {
    fill: #ee3643;
}

.catalog-page .popular-products-menu {
    margin-bottom: 32px;
}

.catalog-page .popular-products-item {
    margin-bottom: 20px;
    text-transform: none;
}

.catalog-paginator {
    display: flex;

    line-height: 18px;
}

.paginator-item + .paginator-item {
    margin-left: 10px;
}

.paginator-link {
    font-size: 13px;
    line-height: 18px;
    color: #000;
    vertical-align: middle;
    text-align: center;

    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;

    padding: 9px 15px;
}

.current-paginator {
    border: 1px solid #ee3643;
    background-color: #ee3643;
    color: #fff;
}

.next-paginator {
    width: 140px;
}

.paginator-link:hover {
    border: 1px solid rgba(0,0,0,0.2);
}

.paginator-link:active {
    border-color: #ee3643;
}

.about-drill {
    width: 100%;
    background-color: #f2f6f8;
}

.about-drill-container {
    max-width: 960px;
    width: 100%;
    padding: 65px 10px;
    margin: 0 auto;

    color: #000;
}

.about-drill-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;

    margin-bottom: 30px;
}

.about-drill-description {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;

    margin: 0;
}








